[submodule "lib/TSL2591"]
	path = lib/TSL2591
	url = https://github.com/adafruit/Adafruit_TSL2591_Library
[submodule "lib/Adafruit_Sensor"]
	path = lib/Adafruit_Sensor
	url = https://github.com/adafruit/Adafruit_Sensor
[submodule "lib/Adafruit_BusIO"]
	path = lib/Adafruit_BusIO
	url = https://github.com/adafruit/Adafruit_BusIO
[submodule "embedded/lib/chip_systems_cpp"]
	path = embedded/lib/chip_systems_cpp
	url = https://github.com/dniamir/chip_systems_cpp
[submodule "embedded/lib/MAX31820"]
	path = embedded/lib/MAX31820
	url = https://github.com/milesburton/Arduino-Temperature-Control-Library.git
[submodule "embedded/lib/SCD41"]
	path = embedded/lib/SCD41
	url = https://github.com/Sensirion/arduino-i2c-scd4x
[submodule "embedded/lib/Sensirion_Core"]
	path = embedded/lib/Sensirion_Core
	url = https://github.com/Sensirion/arduino-core
[submodule "embedded/lib/TSL2591"]
	path = embedded/lib/TSL2591
	url = https://github.com/adafruit/Adafruit_TSL2591_Library
[submodule "embedded/lib/GxEPD"]
	path = embedded/lib/GxEPD
	url = https://github.com/ZinggJM/GxEPD
[submodule "embedded/lib/Adafruit_BusIO"]
	path = embedded/lib/Adafruit_BusIO
	url = https://github.com/adafruit/Adafruit_BusIO
